
.main-footer {
    background-color: var(--primary-dark);
    color: var(--white);
    padding: 3rem 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.footer-about {
    flex: 2;
    min-width: 250px;
}

.footer-about h3 {
    color: var(--secondary-color);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    position: relative;
}

.footer-about h3::after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: 0;
    width: 40px;
    height: 2px;
    background-color: var(--secondary-color);
}

.footer-about p {
    line-height: 1.8;
}

.footer-links {
    flex: 1;
    min-width: 150px;
}

.footer-links h3 {
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    position: relative;
}

.footer-links h3::after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: 0;
    width: 40px;
    height: 2px;
    background-color: var(--secondary-color);
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 0.8rem;
}

.footer-links ul li a {
    color: var(--light-bg);
    text-decoration: none;
    transition: var(--transition);
    display: inline-flex;
    align-items: center;
}

.footer-links ul li a:hover {
    color: var(--secondary-color);
    transform: translateX(-5px);
}

.footer-links ul li a::before {
    content: '\f054';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    margin-left: 8px;
    font-size: 0.8rem;
    color: var(--secondary-color);
}

.footer-contact {
    flex: 1;
    min-width: 200px;
}

.footer-contact h3 {
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    position: relative;
}

.footer-contact h3::after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: 0;
    width: 40px;
    height: 2px;
    background-color: var(--secondary-color);
}

.footer-contact ul {
    list-style: none;
}

.footer-contact ul li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.footer-contact ul li i {
    width: 30px;
    height: 30px;
    background-color: var(--secondary-light);
    color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.footer-logos {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
}

.footer-logos img:nth-child(2) {
    filter: invert(1) brightness(2) grayscale(1) drop-shadow(0 0 15px white);
}

.footer-logos .logo {
    height: 50px;
    filter: brightness(0.9);
    transition: var(--transition);

}

.footer-logos .logo:hover {
    filter: brightness(1);
    transform: scale(1.05);
}
